bin/
/.apt_generated/
.idea/
.settings/
gen/
libs/
.apt_generated/io/realm/
SnapShopDoxygen
Doxygen/
.classpath
.factorypath
.project
project.properties
Documents/
SnapShop.doxyfile
/STAN_Composition.png
html/
